

#container {
    border: 2px solid #D3D3D3;
    border-radius: 1em;  /* change the shape of the border */
    background-color: #26DAA6;
    /* padding: 40px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
  	width: 300px;
  	margin: 1em auto;
	box-shadow: 10px 10px 8px #888888;
}
img {
    border-radius: 1em;
}

.white-boarder {
    border: 2px solid #D3D3D3;
    background-color: white;
  	border-radius: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

span{
    font-weight: bold;
    background-color: #FFFF00;
}
.firstp{
    font-style: italic;
}

.secondp{

}